 <div>
  First Name:{{fname}}<br/>

//changed commits
  Last Name:{{lname}}
  Age:{{age}}<br/>
  Gender:{{gender}}<br/>
  Country:{{country}}<br/>
  IsEmployed :{{isEmployed}}<br/>
  <hr/>
    Enter First Name:<input type="text" name="fname" [(ngModel)]="fname"/><br/>
  Enter Last Name:<input type="text" name="lname" [(ngModel)]="lname"/><br/>
  Age:<input type="text" [(ngModel)] ="age"/><br/>
  Gender:<input type="radio" [(ngModel)]="gender" value="Male">Male
  <input type="radio" [(ngModel)]="gender" value="Fe-Male">Fe-Male<br/>
  Country:
  <select [(ngModel)] ="country">
    <option>India</option>
    <option>Usa</option>
    <option>Uk</option>
  </select><br/>
  IsEmployed:<input type="checkbox" [(ngModel)]="isEmployed"><br/>
  <input type="button" value="Submit" (click)="handleSubmitBtn()"/>
  </div>
